<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Register Servlets -->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <!-- Servlet Mappings -->
    <servlet>
        <servlet-name>AddVehicleServlet</servlet-name>
        <servlet-class>controller.owner.AddVehicleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerDashboardServlet</servlet-name>
        <servlet-class>controller.OwnerDashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitServlet</servlet-name>
        <servlet-class>controller.InitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>NotificationsPageServlet</servlet-name>
        <servlet-class>controller.owner.NotificationsPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <!-- Authentication Filter (Restricts access to authenticated users) -->
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filter.AuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Role-Based Authorization Filter -->
    <filter>
        <filter-name>RoleFilter</filter-name>
        <filter-class>filter.RoleFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RoleFilter</filter-name>
        <url-pattern>/view/secure/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>MessageCleanupFilter</filter-name>
        <filter-class>filter.MessageCleanupFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>MessageCleanupFilter</filter-name>
        <url-pattern>/owner/*</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>AddVehicleServlet</servlet-name>
        <url-pattern>/addVehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerDashboardServlet</servlet-name>
        <url-pattern>/ownerDashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitServlet</servlet-name>
        <url-pattern>/init</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>controller.owner.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/owner/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddVehiclePageServlet</servlet-name>
        <servlet-class>controller.owner.AddVehiclePageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddVehiclePageServlet</servlet-name>
        <url-pattern>/owner/addVehiclePage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ScheduleInspectionPageServlet</servlet-name>
        <servlet-class>controller.owner.ScheduleInspectionPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScheduleInspectionPageServlet</servlet-name>
        <url-pattern>/owner/scheduleInspectionPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>TrackHistoryPageServlet</servlet-name>
        <servlet-class>controller.owner.TrackHistoryPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TrackHistoryPageServlet</servlet-name>
        <url-pattern>/owner/trackHistoryPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddVehicleServlet</servlet-name>
        <servlet-class>controller.owner.AddVehicleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddVehicleServlet</servlet-name>
        <url-pattern>/owner/addVehicle</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ScheduleInspectionServlet</servlet-name>
        <servlet-class>controller.owner.ScheduleInspectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScheduleInspectionServlet</servlet-name>
        <url-pattern>/owner/scheduleInspection</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>VehiclesPageServlet</servlet-name>
        <servlet-class>controller.owner.VehiclesPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>VehiclesPageServlet</servlet-name>
        <url-pattern>/owner/vehiclesPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/assets/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificationsPageServlet</servlet-name>
        <url-pattern>/owner/notificationsPage</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>/index.html</welcome-file>
    </welcome-file-list>
</web-app>
